*{
    margin:0;
    padding:0;
    border: 0px;
}
body{
    background: #545549;
}
table{
    border-collapse:collapse;
    overflow: hidden;
    border:1px solid #ddd;
    margin:10px auto;
}
td{
    display: table-cell;
    width:20px;
    height:20px;
    background: #fff;
    border:1px #eeeeee solid;
}